.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
pubspec.lock

android/.gradle/
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/.pub/
example/build/
example/pubspec.lock

ios/Pods/
ios/.symlinks/
ios/Flutter/
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/
